div {
    a {
        img {
            width: 80%;
            padding-left: 20%;
            padding-bottom: 20px;
            height: 75px;
        }
        p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    a {
        padding-left: calc( 50% - 65px );
       
    }
}