@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

.btnToggler {
    display: none;
}

.homePage {
    display: grid;
    grid-template-columns: 15% 250px auto 15%;
    grid-template-rows: 250px 400px auto;
    padding: 0;
    margin: 0;

    .homeFirstCol {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0;

        .profilePct {
            width: 100%;
            height: auto;
        }

        .email {
            display: none;
        }

        nav {
            margin: 0;
            padding: 0;

            ul {
                width: 100%;
                margin: 0;

                li {
                    background-color: rgba(240, 239, 239, 0.8914916308320203);
                    border-bottom: 5px solid rgba(53, 53, 57, 1);
                    margin: 0;
                    width: 100%;

                    .linkItem {
                        padding-top: 20px;
                        height: 80px;
                        color: #333;

                        .icon {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            padding-left: 10%;
                        }

                        span {
                            position: absolute;
                            padding-top: 6px;
                            font-size: 18px;
                            font-weight: 500;
                            padding-left: 35%;
                            vertical-align: center;
                            font-family: 'Raleway';
                        }
                    }

                    .active {
                        color: #993333;
                        background-color: white;
                    }
                }

            }
        }
    }

    .homeSecCol {
        background-color: white;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        padding-bottom: 100px;
        min-height: 749px;
        .text {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 100vw;
            h2 {
                font-family: 'Raleway';
                font-weight: 300;
            }
            h3 {
                font-family: 'Raleway';
                font-weight: 300;
            }
        }

    }

}

@media screen and (max-width: 992px) {

    .homePage {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 450px 1fr;
        grid-template-rows: 450px auto;
        width: 100vw;

        .homeFirstCol {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: rgba(53, 53, 57, 1);
            max-width: 100vw;

            img {
                width: 350px;
                padding-left: 50px;
                padding-right: 50px;
                max-width: 100%;
            }

            .email {
                display: block;
                color: white;
                text-align: center;
                padding-top: 23px;
            }

            nav {
                display: none;
            }
        }

        .homeSecCol {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            background-color: white;
            padding-left: 15vw;
            padding-right: 15vw;
            div {
                padding-left: 5px;
                padding-right: 5px;
                h2 {
                    text-align: center;
                }
    
                h3 {
                    text-align: center;
                }
            }
        }
    }

    //toggler

    .btnToggler {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        color: white;
        user-select: none;
    }

    .btnTogglerX {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #collapsibleNavbar {
        background-color: silver;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transition: none;
        translate: none;

        .active {
            color: #993333;
        }

        hr {
            width: 25%;
            margin-left: 37.5%;
        }

        div {
            color: black;
        }
    }

    .togglerList {
        text-align: center;

        .togglerListItems {
            color: black;
            height: 10vh;
        }

        .togglerListItems:hover {
            color: #993333;
        }

        .togglerListItems:first-child {
            margin-top: 10vh;
        }
    }
}

    @media screen and (max-width: 768px) {
        .homeSecCol {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @media screen and (max-width: 576px) {
        .homePage {
            margin: 0;
            padding: 0;
            width: 100vw;
            display: grid;
            grid-template-columns: 5% auto 5%;
            grid-template-rows: auto auto;

            .homeFirstCol {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                padding: 0;
                margin: 0;
                width: 100vw;
                max-width: 100vw;
                img {
                    max-width: 100%;
                }
            }

            .homeSecCol {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                background-color: white;
                padding-left: 5px;
                padding-right: 5px;
                // div {
                //     padding-left: 20px;
                //     padding-right: 20px;
                // }   
            }
        }
    }

