.header-row {
    padding: 5px;
    margin: 0;
    padding-bottom: 30px;

    .h1 {
        font-size: 48px;
        color: white;
        padding-left: 20px;
        padding-top: 20px;
    }

    .lang {

        float: right;
        color: rgb(53, 53, 57);
        text-decoration: underline;
        font-size: 20px;
        cursor: pointer;
        width: 100px;
    }


}



@media screen and (max-width: 992px) {

    .header-row {
        padding: 0;

        .div1 {
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            h1 {
                position: relative;
                text-align: center;
            }
        }

        .div2 {
            display: none;

            .lang {
                display: none;
            }

        }
    }
}

@media screen and (max-width: 576px) {
    .header-row {
        .div1 {
            padding-bottom: 20px;
        }
    }
}