div {
    padding-top: 30px;
    h2 {
        color: #993333;
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-left: 20px;
        }
    }
}